<div class="coin-container">
  <div class="coin-row">
    <div class="coin">
      <img [src]="coin.image" alt="crypto" srcset="">
      <h1>{{coin.name}}</h1>
      <p class="coin-symbol">{{coin.symbol}}</p>
    </div>
    <div class="coin-data">
      <p class="coin-price">{{coin.current_price}}</p>
      <p class="coin-volume">{{coin.total_volume}}</p>
      <p class="coin-percent-red" *ngIf="coin.price_change_percentage_24h < 0" >
        {{coin.price_change_percentage_24h.toFixed(2)}}
      </p>
      <p class="coin-percent green">
        {{coin.price_change_percentage_24h.toFixed(2)}}
      </p>
      <p class="coin-marketcap">
        Mtk Cap: {{coin.price_change_percentage_24h.toLocaleString()}}
      </p>
    </div>
  </div>
</div>
